body {
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
  position: relative;
}
#sky {
  background-color: skyblue;
  height: 25vh;
  position: relative;
  animation: 15s bgChange infinite;
}
#land {
  height: 75vh;
  position: relative;
}
#land > div {
  height: 100%;
  background-color: green;
}

#sun {
  height: 180px;
  border-radius: 50%;
  background-color: yellow;
  width: 180px;
  position: absolute;
  animation: 15s sunControl infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes sunControl {
  0% {
    top: 85%;
    left: 0;
    background-color: #ff5722;
  }
  10% {
    top: 80%;
    left: 5%;
    background-color: #ff5722;
  }
  20% {
    top: 60%;
    left: 10%;
    background-color: #ff9800;
  }
  30% {
    top: 35%;
    left: 20%;
    background-color: yellow;
  }
  40% {
    top: 15%;
    left: 35%;
  }
  50% {
    top: 10%;
    left: 50%;
  }
  60% {
    top: 15%;
    left: 65%;
  }
  70% {
    top: 30%;
    left: 80%;
  }
  80% {
    top: 45%;
    left: 90%;
  }
  90% {
    top: 55%;
    left: 95%;
    background-color: #ff9800;
  }
  100% {
    top: 75%;
    left: 100%;
    background-color: #ff5722;
  }
}

@keyframes bgChange {
  0% {
    background: #202d3a;
  }
  10% {
    background: #2c3e50;
  }
  20% {
    background: #1565c0;
  }
  30% {
    background: skyblue;
  }
  40% {
    background-color: #03a9f4;
  }
  90% {
    background-color: rgb(184, 129, 129);
  }
  100% {
    background: black;
  }
}
